@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #161616;
    overflow-x: hidden;
}

:root {
  --popper-theme-background-color: #2b2b2e;
  --popper-theme-background-color-hover: #2b2b2e;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: solid;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 5px 8px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}

@font-face {
    font-family: 'Montserrat';
    src: url("./assets/fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: 'MontserratBold';
    src: url("./assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'MontserratRegular';
    src: url("./assets/fonts/Montserrat-Regular.ttf");
}

img {
    @apply pointer-events-none select-none;
}

.gradient {
    -webkit-animation: gradient 7s ease infinite;
    -moz-animation: gradient 7s ease infinite;
    animation: gradient 7s ease infinite;
  }
  
  .slider {
    -webkit-animation: slide 20s linear infinite;
    -moz-animation: slide 20s linear infinite;
    animation: slide 20s linear infinite;
  }
  
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes slide {
    to {
      transform: translateX(-100%);
    }
  }